// #tippy-5{
//     width: 30%;
// }
// #tippy-6{
//     width: 30%;
// }
#tippy-7{
    width: 30%;
}
#tippy-8{
    width: 30%;
}
#tippy-9{
    width: 30%;
}
#tippy-10{
    width: 30%;
}
#tippy-11{
    width: 30%;
}
#tippy-12{
    width: 30%;
}
#tippy-13{
    width: 30%;
}
#tippy-14{
    width: 30%;
}

#tippy-15{
    width: 30%;
}
#tippy-16{
    width: 30%;
}
#tippy-17{
    width: 30%;
}
#tippy-18{
    width: 30%;
}
#tippy-19{
    width: 30%;
}
#tippy-20{
    width: 30%;
}

#tippy-21{
    width: 30%;
}
#tippy-22{
    width: 30%;
}
#tippy-23{
    width: 30%;
}
#tippy-24{
    width: 30%;
}
#tippy-25{
    width: 30%;
}
#tippy-26{
    width: 30%;
}
#tippy-27{
    width: 30%;
}
#tippy-28{
    width: 30%;
}
#tippy-29{
    width: 30%;
}
#tippy-30{
    width: 30%;
}
#tippy-31{
    width: 30%;
}
#tippy-32{
    width: 30%;
}
#tippy-33{
    width: 30%;
}
#tippy-34{
    width: 30%;
}