
.wrapper{
    padding: 30px 0;
    .container{
        width: 80%;
        .header{
            display: flex;
            // gap:1%;   
        }
        .cart-info{
            margin: 0px 0.5%;
        }
    }
}

